// ABOUT PAGE STYLES START

.rowAbout{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.fotoAbout{
    background-image: url(../assets/magui.png);
    height: 500px;
    object-fit: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: $color1;
}

.textAbout{
    padding: 10px;
}

.nameAbout{
    text-transform: uppercase;
}

// ABOUT PAGE STYLES END