.titleConnect{
    padding: 15px;
    margin-top: 10px;
}

.formDiv{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/mar\ hori.jpg);
    background-size: cover;
    background-position: center;
}
// <div class="formDiv">
//  <div class="formGrid">
//   <form action="">
    // <div class="form formName">
    // <input type="text" placeholder="Name" class="">
    // </div>
    // <div class="form formSurname">
    // <input type="text" placeholder="Surname" class="">
    // </div>
    // <div class="form formPhone">
    // <input type="tel" placeholder="Phone" class="">
    // </div>
    // <div class="form formEmail">
    // <input type="email" placeholder="Email" class="">
    // </div>
    // <div class="form formText">
    // <input type="text" placeholder="Type your message here..." class="">
    // </div>
    // <div class="form formSubmit">
    // <input type="submit" value="Send" class="">
    // </div>
//   </form>
// </div>
//</div>

.formGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px 190px 30px;
    height: 300px;
    width: 450px;
    margin: 0 15px 0 15px;
    opacity: 0.8;
}

.formSurname{
    grid-column: 2/3;
}

.formText{
    grid-column: 1/3;
}

.formSubmit{
    grid-column: 2/3;
}

.formGrid input{
    border: $color4 solid 1px;
    width: 100%;
    height: 100%;
}

input::placeholder {
    font-size: smaller;
    text-align: start;
    position: absolute;
    left: 5px;
}

.formText::placeholder{
    top: 10px;
}

.textConnect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    font-style: italic;
}