// PUBLICATIONS STYLES START
.rowPub{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    .pub{
        background-color: $color1;
        max-height: 400px;
        max-width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 10px;
        .pubImg{
            object-fit: cover;
        }
    }
    .pub:hover{
        transform: scale(1.4);
        transition: 1.5s;
    }
}
// PUBLICATIONS STYLES END